@{
    ViewData["Title"] = "Home Page";
}
@model List<EmployeeModel>
<head>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Thales - Employees</h1>

<form method="post" asp-action="Search">
    <label for="id">ID: </label>
    <input type="number" name="id" id="id">
    <button type="submit">Search</button>
</form>

</body>
