<head>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap.min.js")"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <h1>Thales - Employees</h1>
    <br /><br />
    <p><a class="p-3 mb-2 bg-danger text-white">404 -  Employee does not exist....</a></p>
    <a href="/Employees/Index" class="Button">HOME</a>
</body>