<head>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/bootstrap.min.js")"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <h1>Thales - Employees</h1>
    <p><a class="text-warning">Too many requests, try again later....</a></p>
    <a href="/Employees/Index" class="Button">HOME</a>
</body>